*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
