.header {
  box-sizing: border-box;
  padding-top: 92px;
  padding-left: 24px;
  padding-right: 24px;
}

.header-grid {
  display: grid;
  grid-template-columns: 452px 148px 452px;
  grid-template-rows: 105px;
}

.header__nav {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-self: start;
  align-self: center;
  padding-top: 3px;
}

.header__menu__nav {
  display: flex;
  list-style: circle;
  gap: 32px;
}

/* убирает подчеркивание под активной ссылкой */
.header__nav_links.active__menu {
  background-color: transparent;
  text-decoration: none;
}

/* убирает круг перед активной страницей  */
.header__menu__nav li:first-child {
  list-style: none;
}

.header__logo {
  width: 145px; /* Задайте требуемую ширину */
  height: 106px; /* Задайте требуемую высоту */
  overflow: hidden; /* Предотвращает выход из рамок */
}

.header__logo img {
  width: 100%;
  height: 100%; /* Заполняет доступное пространство */
  object-fit: contain; /* Сохраняет соотношение сторон и позволяет отобразить полное изображение */
}

.header__logo-link {
  padding: 0;
}

.contacts__header {
  flex-wrap: wrap;
  justify-self: end;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  list-style-type: none;
  padding-top: 6px;
  padding-right: 3px;
  max-width: 240px;
}

.adress__city {
  text-decoration: none;
}

.text-underline-decoration {
  text-underline-position: under;
}

.main {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 96px;
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}

.cover_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 165px;
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
}

.title-first-word {
  display: flex;
  justify-content: start;
}

.title-second-word {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.titile-three-word {
  max-width: 1052px;
  max-height: 100px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-bottom: 130px;
}

.letter-spacing-low {
  letter-spacing: 30px;
}

.second-word {
  letter-spacing: 60px;
}

.test-space {
  letter-spacing: 30px;
}

.subtitle-and-buttom {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 123px;
  padding-bottom: 62px;
  padding-left: 26px;
  gap: 78px;
}

.subtitle {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 57px;
}

.space {
  padding-right: 23px;
}

.space-first {
  padding-right: 22px;
}

.space-two {
  padding-right: 28px;
}

.button-bet {
  display: flex;
  position: relative;
  align-self: end;
  justify-self: end;
  text-align: center;
  color: white;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 11px 32px;
  outline: none;
  border: 1px solid;
  border-radius: 1px;
  background: transparent;
  transition: 0.2s;
  margin-top: -11px;
  margin-bottom: -12px;
  padding-bottom: 12px;
}

.button {
  text-decoration: none;
}

.title-lots {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 49px;
  padding-bottom: 25px;
}

.lots {
  display: block;
}

.lots__cards-list {
  display: flex;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 33px;
}

.lots__card-list-item {
  display: flex;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  min-width: 334px;
  min-height: 600px;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  position: relative;
  background-image: url(../images/card-lot-first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  position: relative;
  background-image: url(../images/second-lot.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  position: relative;
  background-image: url(../images/thre-lot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  align-self: flex-end;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.lots__look-more-link {
  display: flex;
  flex-wrap: wrap;
  grid-area: 3 / 1;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: end;
  justify-self: start;
  padding-left: 50px;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 179px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 166px;
}

.logo__column {
  padding: 20px; /* Добавление отступов для разделения */
  border: 1px solid #000;
}

.logo__column {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 95px;
  margin-left: 95px;
}

.logo-white-svg {
  padding: 43px 24px;
}

.about__culumn {
  display: flex;
  flex-wrap: wrap;
}

.about__column_title {
  display: block;
  padding-top: 102px;
  padding-left: 24px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__column__content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 24px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.footer {
  display: grid;
  grid-template-columns: 240px 150px 240px;
  grid-template-rows: 110px;
  gap: 211px;
  margin-bottom: 90px;
  margin-left: 24px;
  margin-right: 24px;
}

.footer__adress {
  padding-top: 15px;
  flex-wrap: wrap;
  justify-self: end;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  list-style-type: none;
}

.footer_menu_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.footer__social {
  display: flex;
  padding-top: 15px;
  list-style: none;
  justify-content: space-between;
}

.icon__vk {
  width: 50px;
  height: 50px;
}

.icon__youtube {
  width: 50px;
  height: 50px;
}

.icon__pinterest {
  width: 50px;
  height: 50px;
}
